fastapi
uvicorn
gunicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
fastapi-mail[pydantic]
pydantic-settings
google-auth
google-auth-oauthlib
requests
httpx
python-multipart
python-decouple
